.form-control:disabled {
  opacity: 0.5;
}

.middle-container2 {
  padding-top: 100px;
}

.header-white-div {
  background-color: #ffffff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.header-white-div {
  background-color: #ffffff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateZ(65px);
          transform: translateZ(65px);
  -webkit-animation: slide-down 0.9s;
          animation: slide-down 0.9s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.header-white-div .top-nav1 {
  padding: 10px 0 20px 0;
}

.header-white-div .ullist-inline li .nav-link {
  color: #00A685;
}

.header-white-div .scroll-logo {
  display: block;
}

.header-white-div .main-logo {
  display: none;
}

.header-white-div .social-ul > li > a {
  color: #ffffff;
  background-color: #00A685;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.header-white-div .social-ul > li > a:hover {
  background-color: #02886d;
}

/**/
.datepickercustom {
  padding: 0;
  width: 100%;
}

.datepickercustom .fa.fa-calendar.fa_calendar_icon {
  font-size: 18px;
  top: 10px;
  right: 10px;
  background: #ffffff;
  color: #727272;
  opacity: 0;
}

.datepickercustom .gj-textbox-md {
  padding: .375rem .75rem;
  color: #495057;
  font-weight: 500;
  height: 50px;
  border-radius: 0;
  background: #FFFFFF;
  font-size: 16px;
  color: #222221;
  text-align: left;
  border: 1px solid #DDDDDD;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: 'Open Sans', sans-serif;
}

.datepickercustom .gj-textbox-md:focus {
  border: 1px solid #222221;
}

.datepickercustom .gj-textbox-md::-webkit-input-placeholder {
  color: #222221;
}

.datepickercustom .gj-textbox-md::-moz-placeholder {
  color: #222221;
}

.datepickercustom .gj-textbox-md:-ms-input-placeholder {
  color: #222221;
}

.datepickercustom .gj-textbox-md:-moz-placeholder {
  color: #222221;
}

@media (max-width: 767px) {
  .datepickercustom .gj-textbox-md {
    font-size: 16px;
    height: 40px;
  }
}

.gj-picker-md .fa.fa-angle-left.fa_left_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 42px;
}

.gj-picker-md .fa.fa-angle-right.fa_right_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 42px;
}

td.today.gj-cursor-pointer {
  background: #727272;
  color: #fff;
  border-radius: 100%;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
  color: #FFF;
  background: #B1B1B1;
  border-radius: 50%;
}

.gj-picker-md table tr td.today:hover div, .gj-picker-md table tr td.today:focus div {
  background: #727272 !important;
  color: #fff;
  border-radius: 100%;
}

.gj-picker-md table tr td.today div {
  color: #fff !important;
}

.custom-checkbox .custom-control-label::before {
  position: absolute;
  left: 0;
  display: block;
  pointer-events: none;
  content: "";
  border: #00A685 solid 1px;
  background-color: #ffffff;
  border-color: #00A685;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 4px;
  -webkit-transition: none;
  transition: none;
  height: 18px;
  width: 18px;
  top: 0px;
}

.custom-checkbox-new {
  padding-left: 30px;
  margin: 0 0 15px 0;
}

.custom-checkbox-new .custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
}

.custom-checkbox-new .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00A685;
  border-color: #00A685;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 4px;
  -webkit-transition: none;
  transition: none;
  top: 0px;
  height: 18px;
  width: 18px;
}

.custom-checkbox-new .custom-control-input:checked ~ .custom-control-label:after {
  content: "";
  width: 12px;
  height: 28px;
  top: -5px;
  left: 3px;
  background-size: inherit;
}

.custom-checkbox-new .custom-control-label {
  margin-bottom: 0;
  font-size: 16px;
  color: #222221;
  text-align: left;
}

.custom-radio .custom-control-label::before {
  background-color: #F6F6F6;
  border: 1px solid #222221;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%2300A685'/%3E%3C/svg%3E");
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #fff;
  border: 1px solid #00A685;
}

.custom-radio label.custom-control-label {
  font-size: 16px !important;
  color: #222221;
  letter-spacing: 0;
  line-height: 24px !important;
  margin-bottom: 0 !important;
}

.radio-button-div {
  padding: 8px 0;
}

.step-forms-section {
  padding: 55px 0;
}

.step-forms-section .step-heading {
  padding: 20px 0 20px 0;
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.step-forms-section .step-heading h2 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
  color: #222221;
  letter-spacing: 0;
  text-align: center;
}

.step-forms-section .step-heading P {
  padding: 0;
  margin: 0 0 0px 0;
  font-size: 24px;
  color: rgba(27, 36, 44, 0.4);
  text-align: center;
  line-height: 32px;
  font-weight: 400;
}

.step-forms-section .step-forms-nav-tab {
  padding: 40px 0 30px 0;
}

.step-forms-section .step-forms-nav-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.step-forms-section .step-forms-nav-tab ul:after {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 75%;
  left: 12.5%;
  top: 22px;
  border-bottom: 2px dashed #727272;
  border-radius: 100px;
  display: block;
  clear: both;
  opacity: 0.8;
}

.step-forms-section .step-forms-nav-tab ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step-forms-section .step-forms-nav-tab ul li a {
  width: 53px;
  min-width: 53px;
  height: 46px;
  background-color: #B1B1B1;
  display: block;
  font-size: 20px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  position: relative;
  z-index: 6;
}

.step-forms-section .step-forms-nav-tab ul li.active {
  position: relative;
}

.step-forms-section .step-forms-nav-tab ul li.active a {
  background-color: #fff;
  color: #00A685;
  border: 3px solid #23B195;
}

.step-forms-section .step-forms-nav-tab ul li.active:after {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 100%;
  left: 50.5%;
  top: 22px;
  background-color: #ffffff;
  border-bottom: 2px dashed #707070;
  border-radius: 100px;
  display: block;
  clear: both;
  z-index: 5;
}

.step-forms-section .step-forms-nav-tab ul li.done {
  position: relative;
}

.step-forms-section .step-forms-nav-tab ul li.done:before {
  content: '';
  display: block;
  position: absolute;
  height: 0px;
  width: 100%;
  left: 50.5%;
  top: 22px;
  background-color: #ffffff;
  border-bottom: 2px dashed #00A685;
  border-radius: 100px;
  display: block;
  clear: both;
  z-index: 6;
}

.step-forms-section .step-forms-nav-tab ul li.done a {
  background-color: #00A685;
  overflow: hidden;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 3px solid #00A685;
}

.step-forms-section .step-forms-nav-tab ul li.done a:after {
  background-color: #00A685;
  content: "\e92b" !important;
  font-family: Feather !important;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
  font-weight: 600;
  left: 0;
  right: 0;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step-forms-section .step-forms-nav-tab ul li:last-child {
  position: relative;
}

.step-forms-section .step-forms-nav-tab ul li:last-child:after {
  content: '';
  display: none !important;
}

.step-forms-section .step-forms-tab-content {
  background: #FFFFFF;
  -webkit-box-shadow: 0 22px 74px 0 #F2F2F2;
          box-shadow: 0 22px 74px 0 #F2F2F2;
  padding: 40px 100px 20px 100px;
}

.step-forms-section .step-forms-tab-content .tab-h-400 {
  min-height: 360px;
}

.step-forms-section .step-forms-tab-content .tab-title .heading {
  margin-bottom: 20px;
}

.step-forms-section .step-forms-tab-content .tab-title .heading h3 {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  text-align: left;
  font-weight: 600;
  line-height: 30px;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group label {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 10px;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .form-control {
  height: 50px;
  border-radius: 0;
  background: #FFFFFF;
  font-size: 16px;
  color: #222221;
  text-align: left;
  border: 1px solid #DDDDDD;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .form-control:focus {
  border: 1px solid #222221;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .form-control::-webkit-input-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .form-control::-moz-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .form-control:-ms-input-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .form-control:-moz-placeholder {
  color: #222221;
}

@media (max-width: 767px) {
  .step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .form-control {
    font-size: 16px;
    height: 40px;
  }
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .input-group-text {
  height: 50px;
  padding: 0;
  border-radius: 0;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .input-group-text .btn {
  height: 100%;
  width: 100%;
  line-height: 36px;
  border-radius: 0;
  font-size: 25px;
  color: #222221;
  text-align: center;
  background-color: #00A685;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .input-group-text.done-otp .btn {
  pointer-events: none;
  background-color: #ffffff;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .input-group-text.done-otp .btn i {
  font-size: 18px;
  height: 20px;
  width: 20px;
  border-radius: 30px;
  background-color: #727272;
  padding: 2px;
  color: #FFFFFF;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .input-group-text.done-otp .btn i::before {
  content: "\e92b" !important;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group p {
  font-size: 14px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  text-align: left;
  line-height: 28px;
  margin: 10px 0;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .resend-otp p {
  font-size: 18px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  text-align: center;
  line-height: 30px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .resend-otp p span {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .resend-otp a {
  font-size: 18px;
  color: #222221;
  letter-spacing: 0;
  text-align: center;
  line-height: 30px;
}

.step-forms-section .step-forms-tab-content .tab-second .heading {
  margin-bottom: 20px;
}

.step-forms-section .step-forms-tab-content .tab-second .heading h3 {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  text-align: left;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .form-group label {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 10px;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .form-group .form-control {
  height: 50px;
  border-radius: 0;
  background: #FFFFFF;
  font-size: 16px;
  color: #222221;
  text-align: left;
  border: 1px solid #DDDDDD;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .form-group .form-control:focus {
  border: 1px solid #222221;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .form-group .form-control::-webkit-input-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .form-group .form-control::-moz-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .form-group .form-control:-ms-input-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .form-group .form-control:-moz-placeholder {
  color: #222221;
}

@media (max-width: 767px) {
  .step-forms-section .step-forms-tab-content .tab-second .form-steps .form-group .form-control {
    font-size: 16px;
    height: 40px;
  }
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .custom-checkbox label {
  font-size: 16px;
  color: #222221;
  text-align: left;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .leagal-doc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .info-doc p {
  font-size: 18px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  text-align: left;
  line-height: 30px;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .document-box {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  width: 180px;
  height: 156px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  margin-right: 20px;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .document-box .doc-img {
  width: 50px;
  margin-bottom: 20px;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .document-box .doc-img img {
  width: 100%;
}

.step-forms-section .step-forms-tab-content .tab-second .form-steps .document-box p {
  font-size: 16px;
  color: #727272;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 0;
  line-height: 19px;
}

.step-forms-section .step-forms-tab-content .tab-third .heading {
  margin-bottom: 40px;
}

.step-forms-section .step-forms-tab-content .tab-third .heading h3 {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  text-align: left;
}

.step-forms-section .step-forms-tab-content .tab-third .form-steps h3 {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 19px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.step-forms-section .step-forms-tab-content .tab-third .form-steps .form-group label {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 10px;
}

.step-forms-section .step-forms-tab-content .tab-third .form-steps .form-group .form-control {
  height: 50px;
  border-radius: 0;
  background: #FFFFFF;
  font-size: 16px;
  color: #222221;
  text-align: left;
  border: 1px solid #DDDDDD;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.step-forms-section .step-forms-tab-content .tab-third .form-steps .form-group .form-control:focus {
  border: 1px solid #222221;
}

.step-forms-section .step-forms-tab-content .tab-third .form-steps .form-group .form-control::-webkit-input-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-third .form-steps .form-group .form-control::-moz-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-third .form-steps .form-group .form-control:-ms-input-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-third .form-steps .form-group .form-control:-moz-placeholder {
  color: #222221;
}

@media (max-width: 767px) {
  .step-forms-section .step-forms-tab-content .tab-third .form-steps .form-group .form-control {
    font-size: 16px;
    height: 40px;
  }
}

.step-forms-section .step-forms-tab-content .tab-third .form-steps .form-group p {
  font-size: 14px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  text-align: left;
  line-height: 28px;
  margin: 10px 0;
}

.step-forms-section .step-forms-tab-content .tab-fourth .heading {
  margin-bottom: 40px;
  border-bottom: 1px solid #E8E8E8;
}

.step-forms-section .step-forms-tab-content .tab-fourth .heading h3 {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  text-align: left;
}

.step-forms-section .step-forms-tab-content .tab-fourth .heading p {
  font-size: 18px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step-forms-section .step-forms-tab-content .tab-fourth .heading p span {
  font-size: 18px;
  color: #00A685;
  letter-spacing: 0;
  text-align: center;
  line-height: 30px;
  white-space: nowrap;
}

.step-forms-section .step-forms-tab-content .tab-fourth .heading p span a {
  color: #00A685;
  white-space: nowrap;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps p {
  font-size: 18px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  line-height: 30px;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps h3 {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
  line-height: 19px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps .form-group label {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  line-height: 20px;
  margin-bottom: 10px;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps .form-group .form-control {
  height: 50px;
  border-radius: 0;
  background: #FFFFFF;
  font-size: 16px;
  color: #222221;
  text-align: left;
  border: 1px solid #DDDDDD;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps .form-group .form-control:focus {
  border: 1px solid #222221;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps .form-group .form-control::-webkit-input-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps .form-group .form-control::-moz-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps .form-group .form-control:-ms-input-placeholder {
  color: #222221;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps .form-group .form-control:-moz-placeholder {
  color: #222221;
}

@media (max-width: 767px) {
  .step-forms-section .step-forms-tab-content .tab-fourth .form-steps .form-group .form-control {
    font-size: 16px;
    height: 40px;
  }
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps .form-group p {
  font-size: 14px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  text-align: left;
  line-height: 28px;
  margin: 10px 0;
}

.step-forms-section .step-forms-tab-content .tab-fourth .form-steps .custom-checkbox label {
  font-size: 14px;
  color: #222221;
  letter-spacing: 0;
}

.step-forms-section .step-forms-tab-content .tab-footer {
  padding: 30px 0 10px 0;
  border-top: 1px solid #DDDDDD;
}

.step-forms-section .step-forms-tab-content .tab-footer .step-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.step-forms-section .step-forms-tab-content .tab-footer .btn-next {
  background-color: #00A685;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding: .375rem 20px;
  margin-left: 10px;
  white-space: nowrap;
  width: auto;
  min-width: 150px;
  border-radius: 0;
  transition: all 0.8s;
}

.step-forms-section .step-forms-tab-content .tab-footer .btn-next:hover {
  background-color: #00A685;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
          box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.step-forms-section .step-forms-tab-content .tab-footer .btn-next:focus {
  background-color: #00A685;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
          box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
}

.step-forms-section .step-forms-tab-content .tab-footer .btn-next:active {
  background-color: #00A685;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
          box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
}

.step-forms-section .step-forms-tab-content .tab-footer .btn-previous {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 20px;
  line-height: 36px;
  color: #727272;
  text-align: center;
  border: 1px solid #CBCBCB;
  padding: .375rem 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  white-space: nowrap;
  width: auto;
  min-width: 150px;
  border-radius: 0;
}

.step-forms-section .step-forms-tab-content .tab-footer .btn-previous:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(232, 232, 232, 0.3);
          box-shadow: 0 12px 24px 0 rgba(232, 232, 232, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.step-forms-section .step-forms-tab-content .tab-footer .btn-previous:focus {
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(232, 232, 232, 0.3);
          box-shadow: 0 12px 24px 0 rgba(232, 232, 232, 0.3);
}

.step-forms-section .step-forms-tab-content .tab-footer .btn-previous:active {
  background-color: #ffffff;
  -webkit-box-shadow: 0 12px 24px 0 rgba(232, 232, 232, 0.3);
          box-shadow: 0 12px 24px 0 rgba(232, 232, 232, 0.3);
}

@media (max-width: 767px) {
  .step-forms-section .step-forms-tab-content .tab-footer .btn-previous {
    height: 40px;
    line-height: 26px;
    font-size: 16px;
  }
}

.step-forms-section .congrats-content {
  background: #FFFFFF;
  -webkit-box-shadow: 0 22px 74px 0 #F2F2F2;
          box-shadow: 0 22px 74px 0 #F2F2F2;
  padding: 60px 100px 60px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.step-forms-section .congrats-content .congrats-img {
  width: 230px;
  margin-bottom: 35px;
}

.step-forms-section .congrats-content .congrats-img img {
  width: 100%;
}

.step-forms-section .congrats-content h3 {
  font-size: 20px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

.step-forms-section .congrats-content p {
  font-size: 18px;
  color: rgba(34, 34, 33, 0.5);
  letter-spacing: 0;
  text-align: center;
  line-height: 30px;
  margin-bottom: 40px;
}

.step-forms-section .congrats-content .btn-go-to {
  background-color: #00A685;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  padding: .375rem 20px;
  max-width: 350px;
}

.step-forms-section .congrats-content .btn-go-to:hover {
  background-color: #00A685;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
          box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.step-forms-section .congrats-content .btn-go-to:focus {
  background-color: #00A685;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
          box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
}

.step-forms-section .congrats-content .btn-go-to:active {
  background-color: #00A685;
  -webkit-box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
          box-shadow: 0 12px 24px 0 rgba(0, 166, 133, 0.2);
}

/* add svg icons */
/* select2 */
.select2-container .select2-dropdown {
  margin-top: -10px;
}

.select-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-control.select-control {
  height: 50px;
  border-radius: 0;
  background: #FFFFFF;
  font-size: 16px;
  color: #222221;
  text-align: left;
  border: 1px solid #DDDDDD;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.form-control.select-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.select-custom2 .select2-selection.select2-selection--single {
  border: 1px solid #ddd !important;
  border-radius: 0px;
  min-height: 50px;
  color: #3C454C;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  -webkit-appearance: none;
  background: #fff;
  position: relative;
  padding: 9px 3px;
}

.select-custom2 .select2.select2-container .select2-selection .select2-selection__arrow {
  border-radius: 0 0px 0px 0;
  height: 47px;
  width: 37px;
  background-color: transparent;
  border: none;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border: none;
  top: 18px;
  left: 15px;
  font-family: Feather !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
  content: '\e92e';
}

.select2-container .select2-dropdown .select2-search input {
  outline: none;
  border: 1px solid #DFEAF1;
  border-bottom: none;
  padding: 10px 10px;
}

.select2-container .select2-dropdown .select2-results ul {
  background: #fff;
  border: 1px solid #DFEAF1;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
  background-color: #23B195;
}

.select2-results__option {
  padding: 10px;
}

/* single select */
input.form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0 !important;
  -webkit-appearance: none !important;
}

@media only screen and (max-width: 767px) {
  .header-white-div.header-div .ullist-inline li .nav-link {
    color: #ffffff;
  }
  .header-white-div {
    -webkit-transform: none;
            transform: none;
    -webkit-animation: none;
            animation: none;
  }
  .header-white-div .nav-m-bar .menu-bars {
    background: url(../images/icon/menubar2.png) no-repeat;
  }
  .custom-checkbox-new .custom-control-label {
    font-size: 13px;
    line-height: 21px;
  }
  .step-forms-section .step-heading h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .step-forms-section .step-heading P {
    font-size: 16px;
    line-height: 28px;
  }
  .step-forms-section .step-forms-tab-content {
    padding: 30px 15px 10px 15px;
  }
  .step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .form-control {
    font-size: 13px;
    height: 40px;
  }
  .step-forms-section .step-forms-tab-content .tab-footer .btn-next {
    height: 40px;
    font-size: 14px;
    line-height: 30px;
    padding: .275rem 10px;
    min-width: 120px;
  }
  .step-forms-section .step-forms-tab-content .tab-footer .btn-previous {
    height: 40px;
    font-size: 14px;
    line-height: 30px;
    padding: .275rem 10px;
    min-width: 120px;
  }
  .step-forms-section .step-forms-nav-tab ul li a {
    width: 45px;
    min-width: 45px;
    height: 36px;
    font-size: 16px;
    margin: 3px 0 0 0;
  }
  .step-forms-section .step-forms-nav-tab ul li.done a:after {
    font-size: 22px;
  }
  .radio-button-div {
    padding: 0px 0 5px 0;
  }
  /* select */
  .select-custom2 .select2-selection.select2-selection--single {
    min-height: 40px;
    font-size: 13px;
    padding: 4px 3px;
  }
  .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 15px;
    left: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-white-div .nav-m-bar .menu-bars {
    background: url(../images/icon/menubar2.png) no-repeat;
  }
  .header-white-div {
    -webkit-transform: none;
            transform: none;
    -webkit-animation: none;
            animation: none;
  }
  .custom-checkbox-new .custom-control-label {
    font-size: 13px;
    line-height: 21px;
  }
  .step-forms-section .step-heading h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .step-forms-section .step-heading P {
    font-size: 16px;
    line-height: 28px;
  }
  .step-forms-section .step-forms-tab-content {
    padding: 30px 15px 10px 15px;
  }
  .step-forms-section .step-forms-tab-content .tab-title .form-steps .form-group .form-control {
    font-size: 13px;
    height: 40px;
  }
  .step-forms-section .step-forms-tab-content .tab-footer .btn-next {
    height: 40px;
    font-size: 14px;
    line-height: 30px;
    padding: .275rem 10px;
    min-width: 120px;
  }
  .step-forms-section .step-forms-tab-content .tab-footer .btn-previous {
    height: 40px;
    font-size: 14px;
    line-height: 30px;
    padding: .275rem 10px;
    min-width: 120px;
  }
  .step-forms-section .step-forms-nav-tab ul li a {
    width: 45px;
    min-width: 45px;
    height: 36px;
    font-size: 16px;
    margin: 3px 0 0 0;
  }
  .step-forms-section .step-forms-nav-tab ul li.done a:after {
    font-size: 22px;
  }
  .radio-button-div {
    padding: 0px 0 5px 0;
  }
  /* select */
  .select-custom2 .select2-selection.select2-selection--single {
    min-height: 40px;
    font-size: 13px;
    padding: 4px 3px;
  }
  .select-custom2 .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 15px;
    left: 15px;
  }
}
/*# sourceMappingURL=custom.css.map */